@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.s-social {
    top: 20%;
    position: fixed;
    width: 50px;
    margin-top: 50px;
    transition: all 0.3s linear;
    direction: ltr;
    left: 0px;
    z-index: 50;
}

.s-social li {
    height: 45px;
    position: relative;
}

.s-social li a {
    color: white;
    display: block;
    height: 95%;
    width: 100%;
    line-height: 48px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .3s linear;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.s-social li:nth-child(1) a {
    background: #4267B2;
}

.s-social li:nth-child(2) a {
    background: #1DA1F2;
}

.s-social li:nth-child(3) a {
    background: #E1306C;
}

.s-social li:nth-child(4) a {
    background: #2867B2;
}

.s-social li:nth-child(5) a {
    background: #333;
}

.s-social li:nth-child(6) a {
    background: #ff0000;
}

.s-social li a i {
    position: absolute;
    top: 11px;
    left: 11px;
    font-size: 23px;
}

.s-social ul li a span {
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.s-social a:hover {
    z-index: 1;
    width: 200px;
}

.s-social ul li:hover a span {
    padding-left: 30%;
    display: block;
}


/*          */

[x-cloak] {
    display: none!important;
}

select {
    background-position: left 0.5rem center;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }
    thead tr:not(:first-child) {
        display: none;
    }
}

html {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
}

.search-item a {
    font-size: 12px;
}

.search-item img {
    width: 2rem;
    border-radius: 50px;
    box-shadow: 1px 3px 6px #bbbbbb;
    margin-left: 10px;
}

.search-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: flex-start;
}

body::-webkit-scrollbar-thumb {
    background-color: #25bdb4;
    outline: 1px solid #25bdb4;
    border-radius: 5px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #25bdb4!important;
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.menu__title {
    margin-right: 10px;
}

@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 500;
    src: url('/dist/fonts/iranyekanwebmediumfanum.eot');
    src: url('/dist/fonts/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/dist/fonts/iranyekanwebmediumfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/dist/fonts/iranyekanwebmediumfanum.ttf') format('truetype');
}

hr.vertical.white {
    background-image: linear-gradient( 180deg, transparent, rgb(255 255 255 / 40%), transparent);
}

html,
input,
button {
    font-family: 'iranyekan'!important;
    line-height: 1.5
}

html,
body {
    scroll-behavior: smooth
}

.font-sans {
    font-family: 'iranyekan'!important;
}

.direction {
    direction: initial;
}

.truncate,
.whitespace-nowrap {
    white-space: nowrap
}

.user-profile img {
    object-fit: cover;
    width: 100%;
    height: 100%!important;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
    padding: 4px;
    box-shadow: 1px 1px 13px #ebebeb;
}

.thumbnail-img img {
    object-fit: cover;
    width: 100%;
    height: 100%!important;
    border-radius: 20px;
    border: 4px solid #f7f7f7;
    padding: 4px;
    box-shadow: 1px 1px 13px #ebebeb;
}

.cover-img img {
    object-fit: cover;
    width: 100%;
    height: 100%!important;
    border-radius: 20px;
    border: 4px solid #f7f7f7;
    padding: 4px;
    box-shadow: 1px 1px 13px #ebebeb;
}

.border-nav {
    position: relative;
    display: inline-block;
}

.border-nav:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 2px;
    background: rgb(37, 189, 180);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 800ms;
    width: 0;
    bottom: 0;
}

.border-nav:hover:after {
    width: 100%;
    left: 0px;
}

@media (min-width: 1288px) {
    .container {
        max-width: 1288px;
    }
}

.border-left::after {
    content: "";
    width: 2px;
    background-color: #ececec;
    height: 27px;
    margin-right: 10px;
}

.custom-shape-divider-bottom-1641972216 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1641972216 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 127px;
}

.custom-shape-divider-bottom-1641972216 .shape-fill {
    fill: #F2F3F5;
}

.my-video-dimensions {
    width: auto;
    height: auto;
}

.video-js .vjs-tech {
    position: unset!important;
    border-radius: 15px;
}

.video-js .vjs-big-play-button {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.video-js {
    border-radius: 15px;
}

.vjs-poster {
    border-radius: 15px;
    z-index: 2;
}

.vid-cont .vjs-poster::before {
    border-radius: 15px;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 175, 94, .3);
    background: -webkit-gradient(linear, left top, right top, from(rgba(48, 175, 94, .5)), to(rgba(0, 0, 0, .5)));
    background: -webkit-linear-gradient(left, rgba(48, 175, 94, .5), rgba(0, 0, 0, .5));
    background: linear-gradient( 90deg, rgba(48, 175, 94, .5), rgba(0, 0, 0, .5));
}

.vjs-theme-fantasy .vjs-big-play-button {
    font-size: 55px!important;
    color: #ffffff!important;
    background-color: #25bdb4!important;
    border-radius: 50%!important;
    z-index: 3;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 45px rgb(232 76 61 / 0%);
    }
}

@keyframes shadow-pulse-small {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 40px rgb(232 76 61 / 0%);
    }
}

.vjs-big-play-button {
    float: left;
    margin: 40px;
    width: 130px;
    height: 130px;
    font: 13px/130px 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(180, 216, 253, 0.6);
    border-radius: 50%;
    animation: shadow-pulse 1.25s cubic-bezier(.76, .6, .68, .16) infinite;
}

button.vjs-big-play-button::before {
    float: left;
    z-index: 0;
    right: 0px;
    top: 0px;
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    -webkit-animation: shadow-pulse-small 0.90s cubic-bezier(.76, .6, .68, .16) infinite;
    animation: shadow-pulse-small 0.90s cubic-bezier(.76, .6, .68, .16) infinite;
    content: "";
}

.video-container {
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.fullscreen-button {
    position: absolute;
    top: 3%;
    color: #ffffff;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    background-color: #25bdb4!important;
}

.watermark {
    position: absolute;
    left: 3%;
    top: 3%;
    color: white;
    -webkit-animation: 10s moving-watermark infinite;
    animation: 10s moving-watermark infinite;
    animation-delay: 5s;
    z-index: 1;
    opacity: 0.5;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25bdb4!important;
}

.mylogo::before {
    position: absolute;
    content: '';
    right: -379px;
    top: -20px;
    z-index: -1;
    bottom: 0;
    height: 84px;
    width: 645px;
    background: linear-gradient( 349deg, #152b3e, #162d3f, #0b9189);
    transform: skewX( 329deg);
}

.watermark-md {
    position: absolute;
    left: 3%;
    top: 3%;
    color: white;
    -webkit-animation: 10s moving-watermark-md infinite;
    animation: 10s moving-watermark-md infinite;
    animation-delay: 5s;
    z-index: 1;
    opacity: 0.5;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25bdb4!important;
}


/* @keyframes moving-watermark {
    0% {
        left: 3%;
        top: 3%;
    }
    25% {
        left: 93%;
        top: 3%;
    }
    50% {
        left: 93%;
        top: 85%;
    }
    75% {
        left: 3%;
        top: 85%;
    }
    100% {
        left: 3%;
        top: 3%;
    }
} */

@keyframes moving-watermark {
    0% {
        opacity: 1;
        left: 3%;
        top: 3%;
    }
    20% {
        left: 5%;
        top: 5%;
        opacity: 0;
    }
    80% {
        left: 85%;
        top: 80%;
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 90%;
        top: 85%;
    }
}

@keyframes moving-watermark-md {
    0% {
        opacity: 1;
        left: 3%;
        top: 3%;
    }
    20% {
        left: 5%;
        top: 5%;
        opacity: 0;
    }
    80% {
        left: 85%;
        top: 80%;
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 90%;
        top: 85%;
    }
}

.vjs-theme-fantasy .vjs-play-progress,
.vjs-theme-fantasy .vjs-play-progress:before {
    background-color: #25bdb4!important;
}

ul.tag-list {
    display: flex;
    list-style: circle;
}

span.tagged_as a {
    background-color: whitesmoke;
    padding: 7px 5px;
    margin: 5px 2px;
    color: black;
    font-size: 14px;
    border-radius: 5px;
}

.product_meta>span a,
.product_meta>span span {
    color: #777;
    display: inline-block;
    font-weight: 400;
    margin: 0 1px;
}

.border-lux {
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, #11182700 30%, #d7d7d752, #11182700 70%);
    border-image-slice: 1;
}

.page-header {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.min-vh-85 {
    min-height: 100vh!important;
}

.shadow-blur {
    box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, .9), 0 20px 27px 0 rgba(0, 0, 0, .05)!important;
}

.blurmain {
    box-shadow: inset 0 0 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(50px);
    background-color: hsla(0, 0%, 100%, .8)!important;
}

.blur-slider {
    -webkit-backdrop-filter: saturate(200%) blur(5px);
    backdrop-filter: saturate(200%) blur(5px);
    background-color: rgba(49, 49, 49, 0.8)!important;
}

hr.vertical.dark {
    background-image: linear-gradient( 180deg, transparent, rgba(0, 0, 0, .4), transparent);
}

hr.vertical {
    position: absolute;
    background-color: transparent;
    height: 100%;
    left: 0;
    top: 0;
    width: 1px;
}

.waves {
    position: relative;
    width: 100%;
    height: 16vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.moving-waves>use:first-child {
    animation-delay: -2s;
    animation-duration: 11s;
}

.moving-waves>use {
    animation: d 40s cubic-bezier(.55, .5, .45, .5) infinite;
}

@keyframes d {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.text-gradient.text-primary {
    background-image: linear-gradient( 310deg, #1da79b, #1ae0af);
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}

.section-title.label-before::after {
    content: "";
    background-color: #1ae0af;
    width: 40px;
    height: 1px;
    display: block;
    right: 0;
    top: 9px;
    position: absolute;
}

.bg-shape {
    background-image: url(https://ariatech.online/wp-content/uploads/HI.png?id=7656) !important;
    margin-top: 50px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.swiper {
    width: 100%;
    height: 100%;
    padding-top: 45px!important;
    padding-bottom: 45px!important;
}


/* .swiper-slide {
    padding-left: 30px;
} */

.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    border-color: #c9c9c9;
    width: 100vw;
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}