@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
[x-cloak] {
    display: none!important;
}

select {
    background-position: left 0.5rem center;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }
    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.menu__title {
    margin-right: 10px;
}

@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 500;
    src: url('/dist/fonts/iranyekanwebmediumfanum.eot');
    src: url('/dist/fonts/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/dist/fonts/iranyekanwebmediumfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/dist/fonts/iranyekanwebmediumfanum.ttf') format('truetype');
}

html {
    font-family: 'iranyekan';
    line-height: 1.5
}

.truncate,
.whitespace-nowrap {
    white-space: nowrap
}

.user-profile img {
    object-fit: cover;
    width: 100%;
    height: 100%!important;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
    padding: 4px;
    box-shadow: 1px 1px 13px #ebebeb;
}

.border-nav {
    color: #666;
    position: relative;
    display: inline-block;
}

.border-nav:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 2px;
    background: rgb(37, 189, 180);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 800ms;
    width: 0;
    bottom: 0;
}

.border-nav:hover:after {
    width: 100%;
    left: 0px;
}

@media (min-width: 1288px) {
    .container {
        max-width: 1288px;
    }
}

.border-left::after {
    content: "";
    width: 2px;
    background-color: #ececec;
    height: 27px;
    margin-right: 10px;
}

.custom-shape-divider-bottom-1641972216 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1641972216 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 127px;
}

.custom-shape-divider-bottom-1641972216 .shape-fill {
    fill: #F2F3F5;
}

.my-video-dimensions {
    width: auto;
    height: auto;
}

.video-js .vjs-tech {
    position: unset!important;
    border-radius: 15px;
}

.video-js .vjs-big-play-button {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.video-js {
    border-radius: 15px;
}

.vjs-poster {
    border-radius: 15px;
    z-index: 2;
}

.vjs-poster::before {
    border-radius: 15px;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 175, 94, .3);
    background: -webkit-gradient(linear, left top, right top, from(rgba(48, 175, 94, .5)), to(rgba(0, 0, 0, .5)));
    background: -webkit-linear-gradient(left, rgba(48, 175, 94, .5), rgba(0, 0, 0, .5));
    background: linear-gradient( 90deg, rgba(48, 175, 94, .5), rgba(0, 0, 0, .5));
}

.vjs-theme-fantasy .vjs-big-play-button {
    font-size: 55px!important;
    color: #ffffff!important;
    background-color: #25bdb4!important;
    border-radius: 50%!important;
    z-index: 3;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 45px rgb(232 76 61 / 0%);
    }
}

@keyframes shadow-pulse-small {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 40px rgb(232 76 61 / 0%);
    }
}

.vjs-big-play-button {
    float: left;
    margin: 40px;
    width: 130px;
    height: 130px;
    font: 13px/130px 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(180, 216, 253, 0.6);
    border-radius: 50%;
    animation: shadow-pulse 1.25s cubic-bezier(.76, .6, .68, .16) infinite;
}

button.vjs-big-play-button::before {
    float: left;
    z-index: 0;
    right: 0px;
    top: 0px;
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    -webkit-animation: shadow-pulse-small 0.90s cubic-bezier(.76, .6, .68, .16) infinite;
    animation: shadow-pulse-small 0.90s cubic-bezier(.76, .6, .68, .16) infinite;
    content: "";
}

.video-container {
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.fullscreen-button {
    position: absolute;
    top: 2%;
    left: 90%;
    z-index: 10;
}

.watermark {
    position: absolute;
    z-index: 1;
    left: 3%;
    top: 3%;
    color: white;
    animation: 30s moving-watermark infinite;
}

@keyframes moving-watermark {
    0% {
        left: 3%;
        top: 3%;
    }
    25% {
        left: 85%;
        top: 3%;
    }
    50% {
        left: 85%;
        top: 85%;
    }
    75% {
        left: 3%;
        top: 85%;
    }
    100% {
        left: 3%;
        top: 3%;
    }
}